<div class="col-md-6 justify-content-center">

	<form action="/" method="POST">

	<div class="col-md-12 d-flex justify-content-center w-100 m-0">
		<div class="card border-primary mt-3 w-100 m-0">
			<div class="card-header"><i class="fas fa-user"></i> Login</div>
			<div class="card-body text-primary">

				<% if (error !== '') { %>
					<div id="alerta" class="alert alert-danger alert-dismissible fade show" role="alert">
						<%= error %>
						<button id="closee" type="button" class="close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
				<% } %>

					<div class="form-group">
						<input type="text" class="form-control" placeholder="User *" name="nick" value="<%= data.nick %>" autofocus>
					</div>
					<div class="form-group">
						<input type="password" class="form-control" placeholder="Password *" name="password" value="<%= data.password %>">
					</div>

			</div>
		</div>
	</div>

	<div class="col-md-12 d-flex justify-content-center w-100 m-0">
		<div class="card border-primary mt-3 w-100 m-0">
			<div class="card-header"><i class="fas fa-plus"></i> New Url</div>
			<div class="card-body text-primary">

				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text"> <%= host %> </span>
					</div>
					<input type="text" class="form-control" aria-describedby="basic-addon3" placeholder="short_url" name="shortUrl" value="<%= data.shortUrl %>">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Destination Url *" name="destinationUrl" value="<%= data.destinationUrl %>">
				</div>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<div class="input-group-text">
							<input type="checkbox" id="watch">
						</div>
					</div>
					<input type="text" class="form-control" id="passwordUrl" placeholder="Password Url" name="passwordUrl" value="<%= data.passwordUrl %>">
				</div>
				<div class="form-group">
					<input type="number" min="0" step="1" class="form-control" placeholder="Expire After Views" name="views" value="<%= data.views %>">
				</div>
				<div class="form-group">
					<button type="submit" class="form-control btn btn-primary">Confirm</button>
				</div>

			</div>
		</div>
	</div>

	</form>

</div>
