<%- include( '_head' ); -%>

<body>
	<%- include( '_nav' ); -%>
	<div class="row">
		<%- include( '_form' ); -%>
		<% if (saveUrl === '') { %>
			<%- include( '_urlinfo' ); -%>
		<% } else { %>
			<%- include( '_url' ); -%>
		<% } %>
	</div>
	<script src="/js/main.js"></script>
</body>

<%- include( '_footer' ); -%>
