<%- include( '_head' ); -%>

<body>
	<%- include( '_nav' ); -%>

	<div class="row">

		<% if (data === '') { %>
			<%- include( '_form' ); -%>
		<% } else { %>
			<% if (edit === '') { %>
				<%- include( '_forminfo' ); -%>
			<% } else { %>
				<%- include( '_formedit' ); -%>
			<% } %>
		<% } %>

		<% if (saveUrl === '') { %>
			<% if (findUrl === '') { %>
				<%- include( '_urlinfo' ); -%>
			<% } else { %>
				<%- include( '_urluser' ); -%>
			<% } %>
		<% } else { %>
			<%- include( '_url' ); -%>
		<% } %>
	</div>

	<% if(msg !== '') { %>
		<input id="message" type="hidden" text="<%= msg %> ">
	<% } %>

	<script src="/js/sweetalert2.js"></script>
	<script src="/js/main.js"></script>
</body>

<%- include( '_footer' ); -%>
